<% if @classrecord.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@classrecord.errors.count, "error") %> prohibited this class from being saved:</h2>

    <ul>
    <% @classrecord.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% update = current_page?(@classrecord) %>
<form action=<%=update ? classrecord_path(@classrecord) : classrecords_path %> method="post">
  <%if update%>
  <h2><small>Students in class</small></h2>
    <table class='table table-hover table-striped existing'>
    <thead>
      <tr>
        <th class='smallcol'></th>
        <th>Name</th>
        <th><!-- Email --></th>
        <th>Balance</th>
        <th>Credit</th>
      </tr>
    </thead>
    <tbody>
      <% @classrecord.students.each do |student| %>
      <% student = Student.find(student) %>
      <tr<%= student.in_debt? ? " class=unpaid" : "" %>>
        <td><input class="check_boxes optional" type="hidden" name="classrecord[student_ids][]"<%="value=#{student.id}"%>></td>
        <td><%= link_to [student.lastname,student.firstname].join(', '), student %></td>
        <td><!--  <%=student.email%>  --></td>
        <td><%= link_to number_to_currency(student.balance), expenses_student_path(:id=>student.id) %></td>
        <td><%= link_to student.credit, expenses_student_path(:id=>student.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <input name="_method" type="hidden" value="patch" />
  <input name="classrecord[location]" type="hidden" value=<%=@classrecord.location%> />
  <input name="classrecord[cost]" type="hidden" value=<%=@classrecord.cost%> />
  <%end%>
  <h3>Add new dancers</h3>
  <div class="form-group container">
    <div class="col-sm-6">
      <input type="text" class="form-control bagelfilter" placeholder="Search dancers to add to class">
    </div>
  </div>
  <div class="form-group container">
    <% if current_page?(new_classrecord_path) || @classrecord.errors.any? %>
    <div class="col-sm-2">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" placeholder="0.00" name="classrecord[cost]" required>
      </div>
    </div>
    <% end %>
    <div class="">
      <button type='submit' class='btn btn-primary' name='commit'>Submit</button>
    </div>
  </div>
  <table class="table table-hover table-striped bagelfilter">
    <thead>
      <tr>
        <th class='smallcol'></th>
        <th>Last Name</th>
        <th><!-- Email --></th>
        <th>Balance</th>
        <th>Credit</th>
      </tr>
    </thead>
    <tbody>
      <% Student.select(:id,:name,:email,:balance,:credit).each do |student| %>
      <% unless(student.classrecords.include?(@classrecord)) %>
      <tr<%= student.in_debt? ? " class=unpaid" : "" %>>
        <td><input class="check_boxes optional" type="checkbox" name="classrecord[student_ids][]"<%="value=#{student.id}"%>></td>
        <td><%= link_to [student.lastname,student.firstname].join(', '), student %></td>
        <td><!--%=student.email%--></td>
        <td><%= link_to number_to_currency(student.balance), expenses_student_path(:id=>student.id) %></td>
        <td><%= link_to student.credit, expenses_student_path(:id=>student.id) %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</form>
