<%= simple_form_for(@classrecord) do |f| %>
  <% if @classrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classrecord.errors.count, "error") %> prohibited this classrecord from being saved:</h2>

      <ul>
      <% @classrecord.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :cost %>
  <%= f.input :location %>
  <%= f.association :students, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>
