<div class='span11'>
	<h1>Attendance sheet for <%= @classrecord.created_at.to_time.strftime("%m/%d/%Y") %></h1>
	<table id='boot' class='table table-hover table-striped'>
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Outstanding Balance</th>
				<th>Last attended</th>
			</tr>
		</thead>
		<tbody>
			<% @classrecord.students.each do |student| %>
			<% student = Student.find(student) %>
			<tr<%= student.balance < 0 ? " class=unpaid" : "" %>>
				<td><%= student.lastname %></td>
				<td><%= student.firstname %></td>
				<td><%= student.balance %></td>
				<td>2 Weeks Ago</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>