<h1>Listing class_records</h1>

<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @class_records.each do |class_record| %>
      <tr>
        <td><%= class_record.cost %></td>
        <td><%= class_record.date %></td>
        <td><%= link_to 'Show', class_record %></td>
        <td><%= link_to 'Edit', edit_class_record_path(class_record) %></td>
        <td><%= link_to 'Destroy', class_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class record', new_class_record_path %>
