<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <form action=<%=current_page?(@student) && student_path(@student) || students_path%> role="form" method="post" class="form-horizontal">
    <% if current_page?(@student)%>
    <input name="_method" type="hidden" value="patch" />
    <%end%>
    <div class='span8'>
      <div class="form-group">
        <label for="student_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="student_name" placeholder="(e.g. Joe Smith)" name="student[name]" value="<%=@student.name%>" required>
        </div>
      </div>
      <div class="form-group">
        <label for="student_email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="student_email" placeholder="(e.g. joesmith@gmail.com)" name="student[email]" value="<%=@student.email%>">
        </div>
      </div>
      <%if current_page? @student %>
      <input type='hidden' name='student[signature]' <%="value=#{@student.signature}"%>>
      <%else%>
      <div class="form-group signature">
        <label for="signature" class="col-sm-2 control-label">Signature</label>
        <div class="col-sm-10">
          <input type='hidden' name='student[signature]' id='signature'>
          <canvas>Your browser does not support a signature pad.</canvas>
        </div>
      </div>
      <%end%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="commit"><%=current_page?(@student) ? "Update" : "Create"%> student</button>
        </div>
      </div>
    </div>
  </form>