<h1>List of Students</h1>
<input type="text" class="form-control bagelfilter" placeholder="Search dancers">
<table id='boot' class='table table-hover table-striped bagelfilter'>
	<thead>
		<tr>
			<th>Name</th>
			<th><!-- Email --></th>
			<th>Balance</th>
			<th>Dance Credit</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr<%=student.in_debt? ? " class=unpaid" : "" %>>
			<td><%= link_to [student.lastname,student.firstname].join(', '), student %></td>
			<td><!--  <%= student.email %>  --></td>
			<td><%= link_to number_to_currency(student.balance), "/students/#{student.id}/expenses" %></td>
			<td><%= student.credit %></td>
		</tr>
		<% end %>
	</tbody>
</table>