<h1>List of Students</h1>
<table id='boot' class='table table-hover table-striped filterable'>
	<thead>
		<tr>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Email</th>
			<th>Balance</th>
			<th>Dance Credit</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr<%=student.in_debt? ? " class=unpaid" : "" %>>
			<td><%= link_to student.lastname, student %></td>
			<td><%= link_to student.firstname, student %></td>
			<td><%= student.email %></td>
			<td><%= link_to number_to_currency(student.balance), "/students/#{student.id}/transactions" %></td>
			<td><%= student.credit %></td>
		</tr>
		<% end %>
	</tbody>
</table>