<p id="notice"><%= notice %></p>

<% data = { :Name => @student.name, :Email => @student.email, :Balance => number_to_currency(@student.balance), :Credit => @student.credit} %>
<h1><%=@student.name%> <span class='badge'><%=link_to "#{@student.credit} credits", expenses_student_path(@student)%></span> <span class='badge'><%=link_to number_to_currency(@student.balance), expenses_student_path(@student)%></span></h1>
<strong><%=link_to "View expense history", expenses_student_path(@student)%></strong><br/><br/>
<strong><%=link_to "View signed waiver", waiver_student_path(@student)%></strong><br/><br/>
<%= render 'form' %>
<img src=<%= @student.signature %>>
<% [6,12].each do |n| %>
<form action='/expenses' method='post'>
  <div class='form-group'>
    <input type='hidden' name='expense[student_id]' <%="value=#{@student.id}"%>>
    <input type='hidden' name='expense[classrecord_id]' <%="value=#{0 - n}"%>>
    <button type='submit' class="btn btn-primary">Add <%=n.to_s%> Dance Credits</button>
    <div class='col-sm-3'>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type='number' class="form-control" placeholder="0.00" name='expense[amount]' <%="value=#{n == 6 && 80.00 || n == 12 && 150.00}"%> required>
      </div>
    </div>
  </div>
</form>
<%end%>