<p id="notice"><%= notice %></p>

<% data = { :Name => @student.name, :Email => @student.email, :Balance => number_to_currency(@student.balance), :Credit => @student.credit} %>
<% data.each do |label,val| %>
<p>
  <strong><%=label%>:</strong>
  <%= val %>
</p>
<% end %>

<img src=<%= @student.signature %>>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
