<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @transaction.student_id %>
</p>

<p>
  <strong>Classrecord:</strong>
  <%= @transaction.classrecord_id %>
</p>

<p>
  <strong>Amount:</strong>
  <% amount = @transaction.amount %>
  <%= @transaction.method == "credit" ? @transaction.amount + " credits" : number_to_currency(@transaction.amount) + " (paid by #{@transaction.method})" %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
