<h1>Expense history for <%=link_to "class at #{@classrecord.location} on #{@classrecord.date}", @classrecord%></h1>

<table id="expenses" class='table table-fixed table-striped table-hover'>
  <thead>
    <tr>
      <th>Dancer</th>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @expenses.each do |expense| %>
<% next if expense.classrecord_id == -1 %>
<% student = expense.student %>
<% classrecord = Classrecord.find(expense.classrecord_id) %>
    <tr<%=expense.paid < expense.amount && ' class=unpaid' || nil %>>
      <td><%= link_to student.name, student %></td>
      <td><%= expense.date %></td>
      <td><%= [number_to_currency(expense.paid),number_to_currency(expense.amount)].join ' / ' %></td>
      <td>Make payment</td>
    </tr>
<% end %>
  </tbody>
</table>