<div class='span12'>
	<ul class="nav nav-stacked">
		<%= nav_link("View dancer list",students_path) %>
		<%= nav_link("Add new dancer",new_student_path) %>
		<%= nav_link("View class history",classrecords_path) %>
		<%= nav_link("Add new class",new_classrecord_path) %>
		<%= nav_link("View payment history",expenses_path) %>
	</ul>
</div>